<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/navigation.ejs") %>

<main>
    <h1><%= title %></h1>
</main>


    </i>
    <%- include("partials/footer.ejs") %>
</body>
</html>